 
 *{
    padding: 10;
    margin: 20;
    box-sizing: border-box;
} 
body{
    font-family: Playfair Display;
    Font: Montserrat;
    font-family: Montserrat;
}
span{
    color: #fff;
    font-weight: bolder;
    border-radius: 8px;
    background-color: orangered;
    padding: 9px;
    width:  30px;
 
}
.first_section{
    margin-left: 40px; 
}
.first_section h1{
    text-align: center;
}
.section2{
    margin-left: 40px;
    display: flex;
    flex-direction: column; 
}
 
.section2 p h3{
    margin-left: 40px;
      
}
.section2 p{
    margin-left: 50px;
    margin-top: -30px; 
    
}
@media (max-width: 576px) { 
    img{
        width: 100% !important;
        height: 15vh !important;
    }
    body{
        width: 80% !important;
    }    
}
@media (max-width:768px) {
    img{
        width: 100% !important;
        height: 30vh !important;
    }
    body{
        width: 80% !important;
    }   
}
/* .container{
    grid-template-areas: 
    'showcase showcase'
    'top-box-a top-box-b';
} */

/* @media(max-width:700px) {
    .container{
        grid-template-areas: 
        'first_section'
        'section2';
    }
}  */

/* @media (max-width:400px) {
    img{
        grid-template-areas: 
        'first_section'
        'setion2'
        ;
    }   
} */





